* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(to right, black 0%, darkslateblue 50%, black 99%);
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#box1 {
    width: 700px;
    height: 400px;
    background: url('../images/b4_logo.png');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 2s;
    -webkit-animation: anim 2s forwards, anim2 3s forwards 2s;
}

#box1::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 400px;
    background: url(../images/after_logo.png);
    left: 0px;
    z-index: -1;
}

@keyframes anim {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}

@keyframes anim2 {
    from {
        left: 30%;
        width: 530px;
    }
    to {
        width: 0px;
        left: 50%;
    }
}

#box2 {
    width: auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color: #fff;
    font-size: 8em;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow: hidden;
}

#text {
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 1s;
    -webkit-animation: anim3 2s forwards 1s;
}

#box2LOG {
    text-align: center;
    clear:both;
    width: auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color: #fff;
    font-size: 3em;
    font-weight: 500;
    line-height: 80px;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
}

#textLOG {
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 1s;
    -webkit-animation: anim3 2s forwards 1s;
}
@keyframes anim3 {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

#box3 {
    overflow: hidden;
}

#containerNAV {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 .5s forwards 0s;
    -webkit-animation: anim4 .5s forwards 0s;
}

#logo {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    color: #fff;
    font-family: 'Bahnschrift Condensed';
}

#menu {
    font-family: 'Bahnschrift Condensed';
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float: right;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    margin-left: 100px;
}

@keyframes anim4 {
    from {
        top: -100%;
    }
    to {
        top: 2%;
    }
}