<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/movie_display.css">
</head>

{% extends "base.html" %} 
{% block title %} Homepage {% endblock %} 
{% block ptitle %} POPULAR MOVIES AMONG OUR USERS {% endblock %}
{% block content %}
<main id="main">
    {% for movie in trending %}
    {% set link = '/movie_info/' + movie['movie_id']|string %}
    <a href= {{ link }} >
        <div class = "movie">
            <img src = {{ movie['img_url'] }}>
            <div class="movie-info">
                <h3> {{ movie['title'] }} </h3>
                <span class= "green">{{ movie['vote_average'] }}</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                {{ movie['overview'] }}
            </div>
        </div>
    </a>
    {% endfor %}
</main>
<div id="spacers">
    <p id="bigtext">Latest Reviews by Our Users</p>
</div>
<main id="main">
    {% for movie in latest %}
    {% set link = '/movie_info/' + movie['movie_id']|string %}
    <a href= {{ link }} >
        <div class = "movie">
            <img src = {{ movie['img_url'] }}>
            <div class="movie-info">
                <h3> {{ movie['title'] }} </h3>
                <span class= "green">{{ movie['vote_average'] }}</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                {{ movie['overview'] }}
            </div>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock %}