{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Let's learn more about you!</h1>
<form align ="center", method="POST">
  <li class="rating">
    <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
    <input type="radio" name="rating" value="1" /><span></span>
    <input type="radio" name="rating" value="2" /><span></span>
    <input type="radio" name="rating" value="3" /><span></span>
    <input type="radio" name="rating" value="4" /><span></span>
    <input type="radio" name="rating" value="5" /><span></span>
</li>
<li class="rating">
  <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
  <input type="radio" name="rating" value="1" /><span></span>
  <input type="radio" name="rating" value="2" /><span></span>
  <input type="radio" name="rating" value="3" /><span></span>
  <input type="radio" name="rating" value="4" /><span></span>
  <input type="radio" name="rating" value="5" /><span></span>
</li>
<li class="rating">
  <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
  <input type="radio" name="rating" value="1" /><span></span>
  <input type="radio" name="rating" value="2" /><span></span>
  <input type="radio" name="rating" value="3" /><span></span>
  <input type="radio" name="rating" value="4" /><span></span>
  <input type="radio" name="rating" value="5" /><span></span>
</li>
<li class="rating">
  <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
  <input type="radio" name="rating" value="1" /><span></span>
  <input type="radio" name="rating" value="2" /><span></span>
  <input type="radio" name="rating" value="3" /><span></span>
  <input type="radio" name="rating" value="4" /><span></span>
  <input type="radio" name="rating" value="5" /><span></span>
</li>
<li class="rating">
  <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
  <input type="radio" name="rating" value="1" /><span></span>
  <input type="radio" name="rating" value="2" /><span></span>
  <input type="radio" name="rating" value="3" /><span></span>
  <input type="radio" name="rating" value="4" /><span></span>
  <input type="radio" name="rating" value="5" /><span></span>
</li>
</form>
{% endblock %}
