<head>
  <meta charset="utf-8">
  <title>HTML CSS Register Form</title>
  <link rel="stylesheet" href="../static/css/auth.css">
</head>

{% extends "base.html" %} {% block title %} Sign Up {% endblock %} {% block content
  %}
    <form class="signup-form" method="post">
      <!-- form header -->
      <div class="form-header">
        <h1>Create Account</h1>
      </div>

      <!-- form body -->
      <div class="form-body">

        <!-- Firstname and Lastname -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="firstName" class="label-title1">First name *</label>
            <input type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name" />
          </div>
          <div class="form-group right">
            <label for="lastName" class="label-title1">Last name</label>
            <input type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Enter last name" />
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email" class="label-title1">Email*</label>
          <input 
          type="email" 
          id="email" 
          name = "email" 
          class="form-control" 
          placeholder="enter your email" 
          >
        </div>

        <!-- Password and confirm password -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label for="password1" class="label-title1">Password *</label>
            <input type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password">
          </div>
          <div class="form-group right">
            <label for="password2" class="label-title1">Confirm Password *</label>
            <input type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password">
          </div>
        </div>

        <!-- Gender and Age -->
        <div class="horizontal-group">
          <div class="form-group left">
            <label class="label-title1">Gender:</label>
            <div class="input-group">
              <label for="male"><input 
                type="radio" 
                id="male"
                name="gender" 
                value= "male" 
                > Male &nbsp; &nbsp; </label>
              <label for="female"><input 
                type="radio" 
                id="gender"
                name="female" 
                value="female" 
                > Female</label>
            </div>
          </div>
          <div class="form-group right">
            <div class="form-group right">
              <label for="experience" class="label-title1">Age</label>
              <input type="number" name = "age" id = "age" min="1" max="100"  value="18" class="form-control">
            </div>
          </div>
          </div>
        </div>

      <!-- form-footer -->
      <div class="form-footer">
        <span>* required</span>
        <button type="submit" class="btn">Submit</button>
      </div>

    </form>

{% endblock %}
